blockquote {
  font-style: normal !important;
}

.content h2 {
  margin-bottom: 0.5rem;
}

.content h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
